

.starship-container {
  margin: auto;
}

.starship-card {
  background-color: #333;
  border: none;
  border-radius: 10px;
}

.starship-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.starship-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f9fa;
  margin-bottom: 1.5rem;
}

.starship-text {
  color: #adb5bd;
  font-size: 0.9rem;
}

.starship-card .card-body {
  padding: 20px;
  background-color: #212529;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.flex-half {
  flex: 1;
}


