.starship-container {
  max-width: 800px;
  margin: auto;
}

.starship-card {
  background-color: #333;
  border: none;
  border-radius: 10px;
}

.starship-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.starship-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f9fa;
}

.starship-text {
  color: #adb5bd;
  font-size: 1rem;
}

.starship-card .card-body {
  padding: 20px;
  background-color: #212529;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
