.nav-tabs .nav-link {
  border: none;
  &:hover, &:focus {
    border-bottom: 2px solid #fff;
    color: white !important;
  }
}

.nav-tabs .nav-link.active {
  background-color: #212529;
  border-color: transparent transparent #fff transparent;
}

.nav-item {
  border: none;
}

a {
  color: rgba(108, 117, 125, 1);
  &:hover, &:focus {
    color: white !important;
    border: none;
  }
  border: none;
}

.nav-link {
  color:rgba(108, 117, 125, 1);
  &:hover, &:focus {
    color: white !important;
  }
}
