<div class="container-fluid py-2">
  <div class="row align-items-center">
    <div class="col d-flex justify-content-start mb-5">
      <a href="#" class="me-2 text-secondary"><i class="fab fa-facebook"></i></a>
      <a href="#" class="me-2 text-secondary"><i class="fab fa-instagram"></i></a>
      <a href="#" class="me-2 text-secondary"><i class="fab fa-twitter"></i></a>
      <a href="#" class="me-2 text-secondary"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="col d-flex justify-content-center">
      <img src="/assets/images/starwarslogo.svg" alt="Star Wars Logo" class="img-fluid" style="height: 200px;">
    </div>
    <div class="col d-flex justify-content-end mb-5">
      <a href="#" class="me-2 text-secondary">LOG IN</a>
      <span class="text-secondary">//</span>
      <a href="#" class="ms-2 text-secondary">SIGN UP</a>
    </div>
  </div>
</div>
